{{- if .Values.networkPolicy.enabled }}
kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: {{ include "dependency-control.fullname" . }}-default-deny
  labels:
    {{- include "dependency-control.labels" . | nindent 4 }}
spec:
  podSelector: {}
  policyTypes:
  - Ingress
  - Egress
---
# Allow Backend to talk to MongoDB
kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: {{ include "dependency-control.fullname" . }}-backend-to-mongo
spec:
  podSelector:
    matchLabels:
      {{- include "dependency-control.selectorLabels" . | nindent 6 }}
  policyTypes:
  - Egress
  egress:
  - to:
    - podSelector:
        matchLabels:
          app: "{{ .Values.mongodb.cluster.name }}-svc"
    ports:
    - protocol: TCP
      port: 27017

---
# Allow Backend to talk to Internet (for Scanners & Updates)
kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: {{ include "dependency-control.fullname" . }}-backend-egress-internet
spec:
  podSelector:
    matchLabels:
      {{- include "dependency-control.selectorLabels" . | nindent 6 }}
  policyTypes:
  - Egress
  egress:
  - ports:
    - protocol: TCP
      port: 443
    - protocol: TCP
      port: 80
  # Allow DNS resolution
  - ports:
    - protocol: UDP
      port: 53
    - protocol: TCP
      port: 53

---
# Allow Traefik Ingress to Backend
kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: {{ include "dependency-control.fullname" . }}-ingress-to-backend
spec:
  podSelector:
    matchLabels:
      {{- include "dependency-control.selectorLabels" . | nindent 6 }}
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          app.kubernetes.io/name: traefik
    ports:
    - protocol: TCP
      port: 8000
{{- end }}
