apiVersion: v1
kind: Secret
metadata:
  name: {{ include "dependency-control.fullname" . }}-secrets
  labels:
    {{- include "dependency-control.labels" . | nindent 4 }}
type: Opaque
stringData:
  secret-key: {{ .Values.backend.secrets.secretKey | quote }}
  malware-api-key: {{ .Values.backend.secrets.openSourceMalwareApiKey | quote }}
  smtp-password: {{ .Values.backend.secrets.smtpPassword | quote }}
  slack-token: {{ .Values.backend.secrets.slackBotToken | quote }}
